*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/io.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img {
    width: 250px;
    border-radius: 50%;
    border: 18px solid #f4eeff;
}
.card{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255,255,255,0.3);
    /* background blur*/
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(5px);
}

.card img{
    width: 240px;
    border-radius: 50%;
}

.card .webimg{
    width: 100px;
    border-radius: 20%;
}
.card h1{
    color: #fff;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 600;
}
.card p{
    font-family: "Caveta", Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px auto;
    max-width: 330px;
}
.card .links img{
    width: 40px;
    border-radius: 80%;
    margin: 10px 5px;
    transition: backgorund 0.5s;
}
.card .links img:hover{
    background: #018dff;
}
.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #018dff;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}
.btn:hover{
    background: #018dff;
    color: #fff;
}
